.jumbo{
    max-height: 25vw;
    
    height: 192.5px;
    
    background-image: url(https://lh5.googleusercontent.com/Y7E6dcbatMOoxwtK2167qxoMPfydIbuj2pjSzwXa7HTKNsoQqhifminTeFwJWwB1Eu2HzNhZTPOMAdb0itARSuibVamXLXhm_Idhq97O6TjOB2aNvwezDI_oiZjBx_qOhaRW803NeEP0zyEMhAoJT-fOF1duiw);
    background-size: cover;
    background-position: center;
    margin-bottom:20px;
}
.width{
    max-width: 100vw;
    width: 80vw;
}
body{
    background-color: antiquewhite;
}
.form{
    background-color: #ffffff;
}